<html>
  <body
    style='background-color: #E4E4E4;
           color: black;
           text-align: center;
           padding-top: 15px;
           padding-bottom: 15px'
  >
    <h1>Weaverize</h1>
    <table style='width: 95%; margin: auto; background-color: white; padding: 10px; color: black; font-size: 16px'>
      <tr>
        <td style='padding: 10px; align-self: center;'>
          <img
            src='https://www.weaverize.fr/wp-content/uploads/elementor/thumbs/cropped-new_weaverize_logo-qh50vvmdwbb6dkp5mzn8disn9a91opwbr6b14cs7b4.png'
            alt='Logo Weaverize'
            width='150'
          />
          <h2>Confirmation de votre adresse email</h2>
          <p>Bonjour {{name}},</p>
          <p>Merci de vous être inscrit sur l'application Weaverize.</p>
          <p>Pour finaliser la création de votre compte, veuillez confirmer votre adresse email en cliquant sur le lien ci-dessous :</p>
        </td>
      </tr>
      <tr>
        <td style='padding: 15px; align-self: center;'>
          <div style='background-color: #FE1D00; border-radius: 10px; align-text: center; padding: 10px; display: inline-block;'>
            <a href='{{url}}' style='text-decoration: none; color: white; padding: 12px; font-size: 16px;'>Confirmer mon adresse email</a>
          </div>
        </td>
      </tr>
      <tr>
        <td style='font-size: 12px'>
          <p>Si vous n'avez pas créé de compte, vous pouvez ignorer cet e-mail.</p>
        </td>
      </tr>
    </table>

    <div style='margin: 10px; color: grey;'>
      <p><a href='https://weaverize.fr/' target='_blank'>EVV</a><br />
        2024 © Weaverize - Tous droits réservés
      </p>
    </div>
  </body>
</html>