<html>

  <body
    style='background-color: #E4E4E4;
            color: black;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px'
  >

    <h1>Weaverize</h1>
    <table style='width: 95%; margin: auto; background-color: white; padding: 10px; color: black; font-size: 16px'>
      <tr>
        <td style='padding: 10px; align-self: center;'>
          <img src='https://www.weaverize.com/wp-content/uploads/2020/03/cropped-logo-w-7.png' alt='Logo EVV' width='150' />
          <h2>Réinitialisation de mot de passe</h2>
          <p>Bonjour {{name}},</p>
          <p>Vous recevez cet e-mail suite à une demande de réinitialisation de mot de passe sur l'application Weaverize.</p>
          <p>Vous pouvez créer un nouveau mot de passe en cliquant sur le lien ci-dessous:</p>
        </td>
      </tr>
      <tr>
        <td style='padding: 15px; align-self: center;'>
          <div style='background-color: #FE1D00; border-radius: 10px; align-text: center; padding: 10px; display: inline-block;'>
            <a href='{{url}}' style='text-decoration: none; color: white; padding: 12px;  font-size: 16px;'>Réinitialiser mon mot de passe</a>
          </div>
        </td>
      </tr>
      <tr>
        <td style='font-size: 12px'>
          <p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail.</p>
        </td>
      </tr>

    </table>

    <div style='margin: 10px; color: grey;'>
      <p><a href='https://www.evv.fr/' target='_blank'>EVV</a><br />
        2022 © Weaverize - all rights reserved
      </p>
    </div>
  </body>

</html>