<html>
  <body
    style='background-color: #E4E4E4;
           color: black;
           text-align: center;
           padding-top: 15px;
           padding-bottom: 15px'
  >
    <h1>Weaverize</h1>
    <table style='width: 95%; margin: auto; background-color: white; padding: 10px; color: black; font-size: 16px'>
      <tr>
        <td style='padding: 10px; align-self: center;'>
          <img
            src='https://www.weaverize.fr/wp-content/uploads/elementor/thumbs/cropped-new_weaverize_logo-qh50vvmdwbb6dkp5mzn8disn9a91opwbr6b14cs7b4.png'
            alt='Logo Weaverize'
            width='150'
          />
          <h2>Votre adresse email a été confirmée</h2>
          <p>Bonjour {{name}},</p>
          <p>Nous vous remercions d'avoir confirmé votre adresse email. Votre compte sur l'application Weaverize est maintenant activé.</p>
          <p>Vous pouvez désormais profiter de toutes les fonctionnalités de notre application.</p>
        </td>
      </tr>
      <tr>
        <td style='padding: 15px; align-self: center;'>
          <div style='background-color: #FE1D00; border-radius: 10px; align-text: center; padding: 10px; display: inline-block;'>
            <a href='{{appUrl}}' style='text-decoration: none; color: white; padding: 12px; font-size: 16px;'>Accéder à l'application</a>
          </div>
        </td>
      </tr>
      <tr>
        <td style='font-size: 12px'>
          <p>Si vous avez des questions, n'hésitez pas à contacter notre support.</p>
        </td>
      </tr>
    </table>

    <div style='margin: 10px; color: grey;'>
      <p><a href='https://weaverize.fr/' target='_blank'>EVV</a><br />
        2024 © Weaverize - Tous droits réservés
      </p>
    </div>
  </body>
</html>